
@{
    ViewBag.Title = "AnalisisActivosOciosos";
}

<h2>AnalisisActivosOciosos</h2>





<script>

    window.onload = function () {
        document.getElementById('int-collapse').className = 'show';
        document.getElementById('ActOc').className = 'btn-activo';
    };
</script>

