@model BE.UsuarioBE
@{
    ViewBag.Title = "Nuevo Usuario";
}



<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Nuevo Usuario</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese el Nombre">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Apellido</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese el Apellido">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@dominio.com">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Idioma</label>
            <select class="form-control">
                <option>Default select</option>
                <option>Default select</option>
            </select>
        </div>
    </form>


</main>

<script>

    window.onload = function () {
        document.getElementById('account-collapse').className = 'show';
        document.getElementById('Usuarios').className = 'btn-activo';
    };
</script>