@model BE.CredencialBE
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A2Cloud - Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="~/Content/login.css" rel="stylesheet">
</head>
<body class="text-center">

    <main class="form-signin">
        <form>
            <img class="mb-4" src="~/Content/img/Logo.png" alt="" width="191" height="156">
            <h1 class="h3 mb-3 fw-normal">Inicie sesión</h1>

            <div class="form-floating">

                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="form-floating">

                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control" } })

            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">&copy; A2Cloud - 2021</p>
        </form>
    </main>



</body>
</html>
